body {
  padding: 0;
  margin: 0;
  user-select: none;
  background: linear-gradient(
    150deg,
    #ccd5ae 0%,
    #ccd5ae 50%,
    #adb5bd 50%,
    #adb5bd 100%
  );
  height: 100vh;
}

.app-container {
  width: 30%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin: 0 auto;
}
